body,
html {
  height: 100%;
}
body {
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  font-family: cursive;
  background-color: rgb(252, 232, 241);
  padding: 5%;
}
input {
  width: 60%;
  height: 3.125rem;
}
button {
  height: 3.125rem;
  width: fit-content;
}
